# =========================
# 🔐 SECURITY
# =========================
JWT_SECRET=super_secret_key_123

# =========================
# 📩 EMAIL (SMTP GMAIL)
# =========================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tonemail@gmail.com
SMTP_PASS=mot_de_passe_application
SMTP_FROM="Freebara <tonemail@gmail.com>"

# =========================
# 🌐 SERVER
# =========================
NODE_ENV=development

# =========================
# 🤖 OPTIONAL (AI)
# =========================
GEMINI_API_KEY=MY_GEMINI_API_KEY
APP_URL=http://localhost:3000
